@font-face{
    font-family: 'Bad Script';
    src: url(../font/BadScript-Regular.ttf);
}

:root{
    --thoughtContainerSmallFontSize: 2.5rem;
    --thoughtContainerBigFontSize: 4rem;
    --thoughtContainerCurrentFontSize: var(--thoughtContainerSmallFontSize);
    --customFontSize: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

.thoughtContainer{
    font-family: 'Bad Script';
    font-size: var(--thoughtContainerCurrentFontSize);
    user-select: none;
    box-shadow: .1rem .1rem 1rem .1rem black;
    width: 100%;
    display: none;
}

p{
    margin: 0px;
    padding: 0px 5%;
    width: 90%;
    transition: background-color 1s, height 1s;
}

#thought{
    text-align: center;
    line-height: 1.4em;
    padding-top: .4em;
    padding-bottom: .4em;
}

#author{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
#sign{
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: .35em;
    padding-top: .4em;
    padding-bottom: .4em;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.customFontSize{
    font-size: var(--customFontSize);
}

@media only screen and (min-width: 1000px){
    :root{
        --thoughtContainerCurrentFontSize: var(--thoughtContainerBigFontSize);
    }
    
    #sign{
        padding-top: .3em;
        padding-bottom: .1em;
        font-size: .5em;
    }
}